*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	font-family: sans-serif;
	background: #191C32;
	font-family: 'Century Gothic'; sans serif;
}

header{
	width: 100%;
	padding: 40px;
	color: white;
	text-align: center;
	background: #112d43;
}

nav ul{
	list-style: none;
	background: #164884;
	text-align: center;
}

nav ul li{
	display: inline-block;
	padding: 20px;
	transition: all ease-in-out 0.8s;
}

ul li a{
	color: white;
	text-decoration: none;
}

nav ul li:hover{
	background: #10c6d3;
}

.Oculto{
	font-size: 20px;
	padding: 16px;
	background: #112d43;
	color: white;
	cursor: pointer;
	display: none;
}

/* Diseño de la web responsive */

@media (max-widtH: 700px){
	ul li{
		width: 100%;
		padding: 15px;
		text-align: left;
	}
	nav ul{
		display: none;
	}
	.Oculto{
		display: block;
	}
}

/*Diseño de las imagenes mis trabajos */

/*.Contenedor{
	width: 100%;
	margin: auto;
}

img{
	width: 100%;
}

.GaleriaColumna{
	margin: 10px;
	filter: grayscale(100%);
}

.GaleriaColumna:hover{
	filter: grayscale(0%);
}

.Galeria .Contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media(min-width:  500px){
	.GaleriaColumna{
		width: 40%
	}
}

@media(min-width:  700px){
	.GaleriaColumna{
		width: 30%
	}
}

@media(min-width:  1024px){
	.GaleriaColumna{
		width: 30%
	}
	.Contenedor{
		width: 1024px;
	}
}*/

/* SECCION PORTFOLIO */
.portfolio{
    color: #fff;
    padding: 15px 20px;
}
.titulomitrabajo{
	color: #00FFFF;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

@media screen and (max-width:700px){
    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
}

/*----Texto y foto-------*/
.centrar{
	width: 90%;
	height: auto;
	overflow: hidden;
	border: 0px solid red;
	margin: auto;
	text-align: center;
	padding: 20px;
}

.izquierda, .derecha{
	width: 50%;
	height: auto; overflow: hidden;
	border: 0px solid red;
	display: inline-block;
}

.izquierda{ float: left; text-align: left; }

.subtitulo{
	color: #00FFFF;
}

.titulo-principal{
	color: #00FFFF;
	font-size: 60px;
}

.descripcion{
	color: white;
	font-weight: 300;
	text-align: left;
}

.derecha{ float: right; }

.img-pres{
	width: 51%;
}

.boton{
	padding: 14px 24px;
	background: #164884;
	color: #fff;
	border-radius: 20px;
	border: 0px;
	cursor: pointer;
	transition: all ease-in-out 0.5s;
}

.boton:hover{
	background: #25a925;
}

.datos{
	color: #00FFFF;
	font-size: 40px;
}

.datospersonales{
	color: #00FFFF;
}

.inge{
	width: 73%;
}


/*.............por que elgirnos............*/

.elegir{
	padding: 50px 0px;
}

.elegir .derecha {
	text-align: left;
}

.textdescrip{
	text-align: left;
}

.img-elige{
	width: 90%;
}

.elegir .derecha .texto-naranja{
	color: #fff;
}

.elegir .derecha h1{
	color: #00FFFF;
	font-size: 35px;
}

.elegir .derecha p{
	color: #fff;
	font-weight: 300;
}

.opciones{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	cursor: pointer;
}

.opcion{
	width: 45%;
	border: solid 1px #ccc;
	margin-bottom: 30px;
	padding: 7px;
	border-left: 4px solid #00FFFF;
	border-radius: 7px;
	color: #fff;
}

.opcion:hover{
	color: #00FFFF;
}

.opcion .img-opciones{
	width: 20%;
	float: left;
	margin-right: 10px;
}

.texto-opciones{
	margin-top: 15px;
}


/*----notificaciones-----*/
.notificaciones{
	height: auto;
	overflow: hidden;
	background-image: url('../img/dos.fw.png');
	padding: 30px 0px;
	color: #fff;

}

.notificaciones h4{
	font-size: 20px;
	font-weight: 400;
}

.form-notificaciones{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.entrada-not{
	width: 40%;
	padding: 15px;
	border-radius: 7px;
	border: 0px;
}

.boton-not{
	padding: 17px 35px;
	background: #b83131;
	color: #fff;
	border-radius: 7px;
	border: 0px;
}

.boton-not:hover{
	background: #bc2121;
}

/*----footer-----*/
.footer{
	height: 408px;
	width: 100%;
	padding: 40px 0px;
	background-image: url('../img/footer.fw.png');
}

.footer .centrar .izquierda{
	color: #ccc;
}

.footer .centrar .izquierda h4,p{
	text-align: center;
}

.footer .centrar .izquierda p{
	border-top: 1px solid #fff;
}

.entrada-form{
	width: 60%;
	margin-bottom: 10px;
	padding: 8px 5px;
}

.boton-contact{
	padding: 8px 15px;
	background: #b83131;
	color: #fff;
	border-radius: 7px;
	border: 0px;	
}

.boton-contact:hover{
	background: #bc2121;
}

.pie{
	color: #c1c1c1;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}

.formulario{
	width: 40%;
	height: auto; overflow: hidden;
	border: 0px solid red;
	display: inline-block;
	text-align: center;
}

.formulario{ float: right; }

@media screen and (max-width:700px){
    .izquierda{
        width: 340px;
    }
	.descripcion{
		width: 300px;
	}
	.derecha{
		margin: 10px 0px;
		float: none;
		width: 300px;
	}
	.img-pres{
		width: 300px;
	}
	.titulo-principal{
		font-size: 50px;
	}
	.entrada-not{
		width: 100%;
		margin-bottom: 20px;
	}
	.texto-opciones{
		margin-top: 28px;
	}
	.opcion{
		width: 48%;
	}
	.footer{
		height: 760px;
	}
	.footizqui{
		width: 300px;
	}
	.formulario{
		float: none;
		width: 260px;
	}
	.entrada-form{
		margin-bottom: 10px;
	}
	.datos{
		font-size: 35px;
	}
}